{
  "bootstrap_expect": 1,
  "client_addr": "0.0.0.0",
  "datacenter": "dc1",
  "data_dir": "/consul_data/",
  "domain": "consul",
  "node_name": "{{ hostvars[inventory_hostname]['inventory_hostname_short'] }}",
  "enable_script_checks": true,
  "dns_config": {
    "enable_truncate": true,
    "only_passing": true
  },
  "enable_syslog": true,
  "encrypt": "{{ hc_vault.encrypt_string }}",
  "leave_on_terminate": true,
  "log_level": "DEBUG",
  "rejoin_after_leave": true,
  "server": true,
  "start_join": [
{%- set comma = joiner(",") -%}
{%- for host in groups['consul_server_hosts'] -%}{{ comma() }}"{{ hostvars[host]['ansible_default_ipv4']['address'] }}"
{%- endfor -%}],  
  "ui": true
}